/* Algemene styling voor de body */
body {
  font-family: 'Helvetica', sans-serif;
  color: #555;
  background-color: #ffffff;
  margin: 0;
  line-height: 1.6;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

#main-container-requirements{
  max-width: 100%;
}

h1, h2, h3, h4 {
  color: #4a4a4a;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

a {
  color: #575757; 
}


/* Navbar styling */
.navbar {

  background-color: #fff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height:60px;
  object-fit: contain;
}

.hamburger-menu {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}



/* Hero section styling */
.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

.hero-text h1 {
  font-size: 40px;
  margin: 0;
  color: ;
}

.hero-text p {
  font-size: 16px;
}

.hero-text span {
  display: inline;
  padding: 3px;
  line-height: 1.5em;
  color: #fff;
  background-color:  #0097f5; 
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* Responsive styling */
@media (max-width: 768px) {
  .hero {
    height: 45vh;
  }

  .hero-text h1 {
    font-size: 25px;
  }

  .hero-text p {
    font-size: 14px;
  }
}


#main-intro {
  margin-bottom: 0px;
}

#tip-logo {
  display: block;
  margin: 0 ; /* Centraal uitlijnen */
  width: 200px; /* Pas de breedte van het logo aan */
  height: auto; /* Automatisch de hoogte aanpassen op basis van de breedte */
  padding-bottom: 10px; /* Ruimte tussen het logo en de titel */
}

#title-mainpage {
  margin-bottom: 5px;
  padding-left: 10px;
}

#subtitle-mainpage {
margin-top: 5px;
font-weight: bolder;
padding-left: 10px;
}

#introtext-mainpage {
  padding-left: 10px;
}


#introtext-mainpage {
  margin: 20px 0;
}

#text-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.text-column {
  flex: 1 1 calc(50% - 20px); /* Twee kolommen van gelijke breedte met een kleine marge */
  min-width: 300px; /* Voorkom dat de kolom te smal wordt */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .text-column {
    flex: 1 1 100%; /* Eén kolom op mobiele apparaten */
  }
}


/* Algemene styling voor secties */
.examples-section, .research-section {
  border: 1px solid #ccc; /* Rand rondom de sectie */
  border-radius: 8px;
  padding: 14px;
  margin: 20px 0;
  background-color: #ffffff;
}

/* Layout voor de sectie-inhoud */
.section-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Kolommen styling */
.section-image {
  flex: 0 0 23%; /* Afbeelding neemt 25% van de breedte in */
  text-align: center; /* Centraal uitlijnen */
}

.section-image img {
  width: 100%;
  height: auto;
  border-radius: 4px; /* Optioneel: afgeronde hoeken */
}

.section-text {
  flex: 0 0 73%; /* Tekst neemt 75% van de breedte in */
}

.examples-section a{
color: white;
background-color: #0097f5;
}

.research-section a {
  color: white;
background-color: #22c573;
}


/* Responsieve aanpassingen */
@media (max-width: 768px) {
  .section-content {
    flex-direction: column; /* Kolommen onder elkaar */
  }

  .section-image, .section-text {
    flex: 1 1 100%; /* Beide kolommen vullen de volledige breedte */
  }
}




/* Styling voor de home-button (link) */
.home-button {
  background-color: #F0F4F8;
  color: #385168;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  width: fit-content;
}

.home-button:hover {
  background-color: #e0e7ed;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Duidelijke focusstijl voor toetsenbordtoegankelijkheid */
.home-button:focus {
  outline: 3px solid #60ce97; /* Groene lijn voor focus */
  outline-offset: 2px;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* Styling voor accordeon headers met chevron en omranding */

#hoofdpagina-accordion-header {
  background-color: #fbfbfb;
  color: #797979;
  border: 1px solid #fff;
  font-size: 20px;
  padding: 10px 10px;
}

/* Hover-stijl voor de accordeon met id 'hoofdpagina' */
#hoofdpagina-accordion-header:hover {
  background-color: #f7f7f7; /* Andere hover-kleur */
}

#doel-content, #aanpak-content, #disclaimer-content, #handelingsomgeving-content{
  padding: 10px 5px;
}



.accordion-header {
  margin-bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #F0F4F8;
  transition: background-color 0.3s;
  font-size: 18px;
  color: #385168;
}

.accordion-header:hover {
  background-color: #e4f3ff;
}

.accordion-header i {
  margin-left: auto;
  transition: transform 0.3s;
}

/* Rotatie van chevron bij uitklappen */
.accordion-header i.rotate {
  transform: rotate(180deg);
}

/* Verbeterde focusstijl voor toegankelijkheid - alleen zichtbaar bij toetsenbordnavigatie */
.accordion-header:focus-visible {
  outline: 3px solid #60ce97;
  outline-offset: 2px;
}

/* Styling voor de accordeon-inhoud */
.accordion-content {
  display: none;
  overflow: hidden;
  padding: 15px 20px;
  border-top: none; /* Geen dubbele rand met de header */
  border-radius: 0 0 8px 8px;
}

.accordion-content.expanded {
  display: block;
}

/* Algemene styling voor paragrafen */
p {
  font-size: 16px;
  color: #555;
  margin-top: 0px;
  margin-bottom: 20px;
}

#handleiding-content p {
  font-size: 16px;
  color: #555;
  margin-top: 0px;
  margin-bottom: 20px;
}


/* Styling voor breadcrumbs links */


#breadcrumbs  {
display: flex;
flex-direction: row;
color: gray;
  font-size: 12px;


}

#breadcrumbs a {
  color: #385168;
  text-decoration: none;
  width: auto;
  margin-right: 8px;
}

#breadcrumbs a:hover {
  text-decoration: underline; /* Optioneel: voeg een onderstreping toe bij hover */
}

ul {
  list-style-type: none;
  padding-left: 0;
}


ul li {
  margin-bottom: 10px;
  text-align: left;
  color: #555;
}

/* Styling voor "Lees meer" knoppen */
.read-more {
  font-size: 16px;
  color: #385168;
  text-decoration: none;
  background-color: #F0F4F8;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.read-more:hover,
.read-more:focus {
  background-color: #60ce97;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.read-more i {
  margin-right: 8px;
}

/* Styling voor knoppen in de demo-lijsten die nu links zijn */
.button-demolist {
  background-color: #F0F4F8;
  color: #385168;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  width: fit-content;
  min-width: 500px;
}

#io {
  background-color: #ffffff; /* Nieuwe kleur */
  color: #5c5c5c;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  width: fit-content;
  min-width: 500px;
}

#io i{
  color: #5c5c5c
}

.button-demolist i {
  margin-right: 8px;
}

.button-demolist:hover {
  background-color: #e0e7ed;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Duidelijke focusstijl voor toetsenbordtoegankelijkheid */
.button-demolist:focus {
  outline: 3px solid #60ce97; /* Groene lijn voor focus */
  outline-offset: 2px;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-examples {
  border-radius: 8px;
  background-color: #fefeff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

/* Styling voor secties */
.sectie {
  border-radius: 8px;
  background-color: #fefeff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.sectie h2, .sectie h3 {
  color: #385168;
  margin-bottom: 5px;
}

.sectie h4 {
  color: #385168;
  margin-bottom: 5px;
}

.sectie p {
  margin-top: 0px;
}

.sectie i {
  color: #385168;
  margin-right: 1px;
}

/* Alleen marge toevoegen aan iconen die niet het laatste kind zijn */
.sectie i:last-of-type {
  margin-right: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

/* Verborgen inhoud voor accordeon */
.accordion-content {
  display: none;
  overflow: hidden;
}

.accordion-content.expanded {
  display: block;
}

/* Uitklapknop rechts uitlijnen */
.toggle-btn {
  width: auto;
  text-align: center;
  float: right;
  padding: 10px 20px;
  background-color: #87a2bb;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  width: fit-content;
  align-self: flex-end;
}

.toggle-btn:hover {
  background-color: #6f8ea2;
}

.toggle-btn-bottom {
  width: auto;
  text-align: center;
  float: right;
  padding: 10px 20px;
  background-color: #87a2bb;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.toggle-btn-bottom:hover {
  background-color: #6f8ea2;
}

/* Media query voor responsieve weergave */
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
    max-width: 100%;
  }

  a {
    min-width: unset;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: left;
  }

  .toggle-btn, .toggle-btn-bottom {
    width: fit-content;
    text-align: center;
  }

  .sectie {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}


/* Stijl voor de geordende stappenlijst */
.steps-list {
  list-style-type: decimal;
  padding-left: 20px; /* Zorg ervoor dat de nummers mooi uitgelijnd zijn */
  margin-bottom: 20px;
}

.steps-list li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px; /* Zorg ervoor dat de tekst na het nummer netjes is uitgelijnd */
}

.steps-list i {
  color: #385168;
  margin-right: 10px;
  position: absolute;
  left: 5px; /* Plaats de iconen netjes bij het nummer */
  top: 5px; /* Zorg dat het icoon goed gecentreerd staat */
}

/* Styling voor de navigatiebalk */
.main-nav {
  padding: 15px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
  margin: 0;
}

.main-nav li {
  display: inline;
}

/* Styling voor navigatielinks */
.nav-link {
  color: #a0a0a0; /* Grijze kleur voor niet-actieve links */
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #385168; /* Donkere kleur bij hover voor alle links */
}

.nav-link.active {
  color: #385168; /* De huidige kleur voor de actieve link */
  font-weight: bold; /* Eventueel vetgedrukt om de actieve link extra te accentueren */
}






/* data tabel requirements */


#search-input {
  width: 300px;         
  height: 40px;          
  padding: 10px;        
  font-size: 16px;     
  border: 1px solid #ccc;
  border-radius: 5px;   
  margin-bottom: 20px;  
}

#data-table {
  width: 100%;
  table-layout: fixed;    
  border-collapse: collapse;
}

#data-table th, #data-table td {
  border: 1px solid #ccc;    
  padding: 10px;
  text-align: left;           
  vertical-align: top;        
  white-space: pre-wrap;    
  word-wrap: break-word;     
}

#data-table th {
  background-color: #f9f9f9; 
}

/* Stijl voor de eerste kolom om deze breder te maken */
#data-table th:first-child, 
#data-table td:first-child {
  width: 60%;                
}

#data-table th {
  background-color: #f9f9f9;  
}
#data-table th:first-child,
#data-table td:first-child {
  border-right: 3px solid #999; 
}

#data-table th:last-child,
#data-table td:last-child {
  width: 10%;           
}

.tag {
  display: inline-block;
  background-color: #e0e0e0;   /* Lichtgrijze achtergrondkleur voor tags */
  color: #333;                 /* Tekstkleur van de tag */
  padding: 5px 10px;           /* Binnenruimte voor de tags */
  margin: 3px;                 /* Ruimte tussen de tags */
  border-radius: 10px;         /* Afgeronde hoeken */
  font-size: 10px;             /* Kleinere tekstgrootte voor tags */
  white-space: nowrap;         /* Tags blijven op één regel */
}

#data-table a {
  font-size: 14px;             /* Maak de tekst van de links kleiner */
  color: #4a90e2;              /* Gebruik een zachtere grijsblauwe kleur voor de links */
  text-decoration: none;       /* Verwijder de standaard onderstreping van de links */
}

#data-table a:hover {
  text-decoration: underline;  /* Voeg een onderstreping toe wanneer je met de muis over de link gaat */
}
 

/* image containers for research/IPA/index.html */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Voegt ruimte toe tussen de afbeeldingen */
}

#tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 1px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 5px;
}
.tag {
  font-size: 8px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.search-container {
  margin-bottom: 20px;
}

#searchBar {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.section-examples {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  display: none;
}




@media (max-width: 768px) {

  body {
    padding: 5px;
    overflow-x: hidden; /* Vermijd horizontaal scrollen */
  }

  .main-container {
    padding: 5px;
    max-width: 100%; /* Zorgt ervoor dat de container op kleinere schermen de volledige breedte benut */
  }

  .main-nav {
    padding: 1px;
  }

  .main-nav ul {
    gap: 3px; /* Voeg wat ruimte tussen de links toe */
    flex-direction: row;
  }


  .nav-link i {
    display: none; /* Verberg de iconen */
  }

  .nav-link {
    display: block; /* Zorg ervoor dat de link een blok-element is voor betere touch-navigatie */
    padding: 10px; /* Voeg wat extra ruimte rond de links toe */
    text-align: left; /* Links uitlijnen van de tekst */
    font-size: 10px; /* Pas de tekstgrootte aan voor kleinere schermen */
  }

  /* Maak de knoppen responsief */
  .button-demolist, #io {
    min-width: unset;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 5px;
    font-size: 16px;
  }

  .section-examples {
    padding-left: 15px; 
    padding-right: 15px;
    padding-bottom: 10px;
  }

  p, .sectie p {
    font-size: 14px;
    line-height: 1.5;
  }

  h2 {
    font-size: 20px;
  }

  /* Zorg ervoor dat de ul-lijst flexibele en mooie uitlijning heeft */
ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.sectie {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
#searchBar {
    box-sizing: border-box;
    }

#hoofdpagina-accordion-header {
  font-size: 15px;
    }

#title-mainpage {
  font-size: 22px;
}

#subtitle-mainpage {
  font-size: 14px;
}

}